snippet xnc:for "A shell loop syntax"
for ${1:file} in ${2:*.c};
do
	${3:cp} $1 ${0:$1.bkup};
done
endsnippet

snippet xnc:for_seq "Get sequence from backtick"
for ${1:var} in ${2:\`seq 0 5\`};
do
	${0:./run_program > $1.out};
done
endsnippet

snippet xnc:if "Shell if syntax"
if test ${1:expression};
then
	${2:commands}
elif test ${3:expression}
	${4:commands}
else
	${0:commands}
fi
endsnippet
